* {
  padding: 0;
  margin: 0;
  font-family: "Roboto Condensed", sans-serif; }

p {
  margin-bottom: initial;
  line-height: initial; }

main {
  margin-top: 47px; }

.navbar-brand {
  color: #0a4ca3 !important;
  /* para pisar bootstrap */
  font-family: "Indie Flower", cursive;
  position: relative;
  left: -18px; }

.nav-link {
  font-family: "Bebas Neue";
  letter-spacing: 1px; }

.nav-item:hover {
  background-image: linear-gradient(to bottom, transparent 0 50%, #ddd560 50% 80%, transparent 80% 100%); }

.navbar-toggler {
  padding: 0px; }

.navbar-light .navbar-toggler {
  border-color: white; }

.footer {
  background-image: url(../../imagenes/fondo-ladrillo.webp);
  border-top: solid 1px grey; }
  .footerTitle {
    font-size: 25px;
    font-weight: bold; }
  .footerAnchor {
    color: black;
    text-decoration: none; }
  .footerDiv {
    font-size: 18px; }
    .footerDiv p {
      margin-top: 4px; }
    .footerDivTitle {
      font-weight: bold;
      font-size: 20px;
      background-image: linear-gradient(to bottom, transparent 0 50%, #ddd560 50% 100%);
      width: fit-content;
      margin: auto; }

.btn {
  font-family: inherit;
  font-size: 20px;
  padding: 1px 53px;
  font-weight: bold; }

.dropdown-item {
  font-family: inherit;
  font-size: 20px;
  font-weight: bold;
  padding: 1px 40px; }

.categories {
  background-color: #85FFBD;
  background-image: linear-gradient(45deg, #85FFBD 0%, #e57dff 100%);
  padding-left: initial; }
  .categories h2 {
    font-size: 35px;
    font-weight: 100;
    font-family: "Patrick hand", cursive;
    letter-spacing: 1px; }
  .categoriesList {
    display: grid;
    grid-template-columns: repeat(2, 150px);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    justify-items: center;
    justify-content: center;
    padding-left: initial; }
  .categories p {
    font-size: 20px;
    font-weight: bold; }

.celular p {
  font-size: 35px;
  font-weight: 100;
  font-family: "Patrick hand", cursive;
  letter-spacing: 1px;
  width: 200px; }

.celular strong {
  font-family: "Patrick hand", cursive;
  letter-spacing: 1px;
  font-weight: 100;
  color: transparent;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: #7e0985; }

.celular span {
  font-family: "Patrick hand", cursive;
  color: #0a4ca3; }

.datos {
  display: grid;
  grid-template-columns: 200px;
  grid-template-rows: repeat(3, 200px);
  justify-content: center;
  background-image: url(../../imagenes/fondoindex.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  grid-row-gap: 30px;
  grid-column-gap: 50px;
  padding-left: initial;
  margin-bottom: initial; }
  .datosP {
    font-size: 20px;
    font-weight: bold; }

.loginMain {
  background-image: linear-gradient(45deg, #85FFBD 0%, #e57dff 100%);
  border-top: solid 1px grey;
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  justify-content: center; }

.loginSection {
  border: solid 1px grey;
  border-radius: 10px;
  box-shadow: 5px 10px 8px 10px #888888;
  height: fit-content;
  width: fit-content;
  padding: 15px 35px; }
  .loginSection p {
    font-size: 20px;
    color: black;
    font-weight: bold; }

.loginForm__form {
  font-size: 18px; }

.loginForm__form:focus {
  outline: none; }

.loginForm__account {
  font-size: 18px;
  font-weight: bold;
  color: black;
  text-decoration: none; }

.loginForm__help {
  font-size: 15px;
  color: black;
  text-decoration: none; }

.intro {
  background-image: url(../../imagenes/fondo-ladrillo.webp);
  border-bottom: solid 1px grey;
  padding: 57px 0px 57px 0px;
  display: flex;
  flex-direction: column; }
  .intro h1 {
    font-family: "Patrick hand", cursive;
    font-size: 45px;
    letter-spacing: 1px;
    font-weight: 100;
    color: transparent;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: #7e0985;
    text-shadow: 7px 7px #d0a9cf9d;
    padding: 20px 30px;
    animation-name: titleanimation;
    animation-duration: 1.5s;
    margin-bottom: initial; }
  .intro p {
    font-size: 35px;
    width: 250px;
    align-self: center; }
  .intro strong {
    background-image: linear-gradient(to bottom, transparent 0 55%, #ddd560 55% 100%); }

@keyframes titleanimation {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.pasos {
  display: grid;
  grid-template-columns: 300px;
  grid-template-rows: repeat(4, auto);
  justify-content: center;
  margin-bottom: initial;
  background-color: #85FFBD;
  background-image: linear-gradient(45deg, #85FFBD 0%, #e57dff 100%);
  padding-left: initial; }
  .pasos li {
    height: fit-content; }
  .pasosH {
    font-size: 35px;
    font-family: "Indie Flower", cursive;
    font-weight: bold; }
  .pasosP {
    font-size: 25px; }

.serviciesForm__form {
  font-size: 20px; }

.serviciesForm__form:focus {
  outline: none; }

.rating {
  background-image: url(../../imagenes/servicios.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: grid;
  grid-template-columns: 300px;
  grid-template-rows: repeat(3, 1fr);
  justify-content: center; }
  .ratingBox {
    background-color: rgba(255, 255, 255, 0.5);
    border: 2px solid rgba(0, 0, 0, 0.578);
    border-radius: 50px 20px; }
  .ratingSub1 {
    display: flex;
    align-items: center; }
  .ratingName {
    color: #0a4ca3;
    font-size: 25px;
    display: inline-block;
    font-weight: bold;
    line-height: initial;
    margin-bottom: initial; }
  .ratingStars {
    font-size: 20px;
    color: #c509c2;
    font-weight: bold; }
  .ratingDesc {
    font-size: 20px;
    color: #262729; }
    .ratingDesc span {
      font-weight: bold; }

.numPag {
  font-size: 25px;
  color: black;
  font-weight: bold; }

@media only screen and (min-width: 500px) {
  .categoriesList {
    grid-column-gap: 50px;
    grid-row-gap: 30px; } }

@media only screen and (min-width: 768px) {
  .categoriesList {
    grid-template-columns: repeat(3, 150px); } }

@media only screen and (min-width: 1024px) {
  .categoriesList {
    grid-column-gap: 150px; } }

@media only screen and (min-width: 590px) {
  .celular p {
    width: auto; } }

@media only screen and (min-width: 768px) {
  .datos {
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: 200px; } }

@media only screen and (min-width: 1024px) {
  .datos {
    grid-column-gap: 120px; } }

@media only screen and (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    justify-content: flex-end; }
  .navbar-brand {
    position: initial; }
  .nav-item {
    transition: transform 0.7s; }
    .nav-item:hover {
      background-color: initial;
      transform: scale(1.1); } }

@media only screen and (min-width: 768px) {
  .intro p {
    width: 650px; } }

@media only screen and (min-width: 768px) {
  .pasos {
    grid-template-columns: repeat(2, 300px);
    grid-template-rows: repeat(2, auto);
    grid-column-gap: 50px;
    grid-row-gap: 10px; } }

@media only screen and (min-width: 1024px) {
  .pasos {
    grid-template-columns: repeat(2, 425px);
    grid-column-gap: 75px; } }

@media only screen and (min-width: 910px) {
  .rating {
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: auto;
    padding-top: 50px;
    padding-bottom: 50px; } }

@media only screen and (min-width: 1024px) {
  .rating {
    grid-column-gap: 50px; } }
