* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

main {
    margin-top: 47px;
}

.navbar-brand {
    color: rgb(10, 76, 163) !important; /* para pisar bootstrap */
    font-family: 'Indie Flower', cursive;
    position: relative;
    left: -18px;
}

.nav-link {
    font-family: 'Bebas Neue';
    letter-spacing: 1px;
}

.nav-item:hover {
    background-image: linear-gradient(to bottom, transparent 0 50%, rgb(221, 213, 96) 50% 80%, transparent 80% 100%);
}

.navbar-toggler {
    padding: 0px;
}

.navbar-light .navbar-toggler {
    border-color: white;
}

p {
    margin-bottom: initial;
    line-height: initial;
}

.intro {
    background-image: url(./imagenes/fondo-ladrillo.webp);
    border-bottom: solid 1px grey;
    padding: 57px 0px 57px 0px;
    display: flex;
    text-align: center;
    flex-direction: column;
}   

.intro h1 {
    font-family: 'Patrick hand', cursive;
    font-size: 45px;
    letter-spacing: 1px;
    font-weight: 100;
    color: transparent;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: rgb(126, 9, 133);
    text-shadow: 7px 7px #d0a9cf9d;
    padding: 20px 30px;
    animation-name: titleanimation;
    animation-duration: 1.5s;
    margin-bottom: initial;
}

.intro p {
    font-size: 35px;
    width: 250px;
    align-self: center;
    padding-bottom: 20px;
}

.intro strong {
    background-image: linear-gradient(to bottom, transparent 0 55%, rgb(221, 213, 96) 55% 100%);
}

.categories, .pasos {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #85FFBD;
    background-image: linear-gradient(45deg, #85FFBD 0%, #e57dff 100%);
    padding-left: initial;
}

.categories h2, .celular p {
    font-size: 40px;
    text-align: center;
    margin-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 100;
    font-family: 'Patrick hand', cursive;
    letter-spacing: 1px;
}

.celular p {
    font-size: 30px;
    margin-bottom: 0px;
}

.categories ul {
    list-style: none;
}

.categoriesList {
    display: grid;  
    grid-template-columns: repeat(2,150px);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    justify-items: center;
    justify-content: center;
    padding-left: initial;
}

.categories p {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: center;
}

.categoriesImg, .datosImg{
    width: 85px;
    height: 85px;
    margin-top: 20px;
}

.datos {
    display: grid;
    grid-template-columns: 200px;
    grid-template-rows: repeat(3,200px);
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: url(./imagenes/fondoindex.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    grid-row-gap: 30px;
    grid-column-gap: 50px;
    padding-left: initial;
    margin-bottom: initial;
}

.datosP {
    font-size: 20px;
    font-weight: bold;
}

.datos li {
    text-align: center;
    list-style: none;
    background-color: #f1f1f1;
    opacity: 0.6; 
    border-radius: 100%;
}

.celular {
    text-align: center;
    padding: 30px;
}

.celularApp {
    height: 55px;
    width: 150px;
    padding: 5px;
}

.pasos {
    list-style: none;
    display: grid;  
    grid-template-columns: 300px;
    grid-template-rows: repeat(4,auto);
    justify-content: center;
    margin-bottom: initial;
}

.pasos li {
    text-align: center;
    padding: 25px;
    height: fit-content;
}

.pasosImg {
    width: 160px;
    height: 160px;
}

.pasosH {
    font-size: 35px;
    font-family: 'Indie Flower', cursive;
    padding-top: 30px;
    font-weight: bold;
}

.pasosP {
    font-size: 25px;
    padding-top: 15px;
}

.serviciesForm {
    text-align: center;
    padding: 30px;
}

.btn {
    font-family: inherit;
    font-size: 18px;
    padding: 1px 53px; 
    font-weight: bold;
} 

.dropdown-item {
    font-family: inherit;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding: 1px 40px;
}

.rating {
    background-image: url(./imagenes/servicios.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 10px;
    list-style: none;
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: repeat(3,1fr);
    justify-content: center;
}

.ratingBox {
    padding: 15px;
    margin: 10px;
    background-color:rgba(255,255,255,0.5);
    border: 2px solid rgba(0, 0, 0, 0.578);
    border-radius: 50px 20px;
}

.ratingSub1 {
    display: flex;
    align-items: center;
}

.ratingName {
    color: rgb(10, 76, 163);
    font-size: 25px;
    display: inline-block;
    font-weight: bold;
    line-height: initial;
    margin-bottom: initial;
}   

.ratingStars {
    font-size: 20px;
    color: rgb(197, 9, 194);
    font-weight: bold;
}

.ratingDesc {
    font-size: 20px;
    color:rgb(38, 39, 41);
    padding-top: 20px;
}

.ratingDesc span {
    font-weight: bold;
}

.numPag {
    font-size: 25px;
    color:black;
    font-weight: bold;
    text-align: center;
    padding: 15px;
}

.loginMain {
    background-image: linear-gradient(45deg, #85FFBD 0%, #e57dff 100%);
    border-top: solid 1px grey;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
}

.loginSection {
    background-color: white;
    border: solid 1px grey;
    border-radius: 10px;
    box-shadow:5px 10px 8px 10px #888888;
    height: fit-content;
    width: fit-content;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.loginSection p {
    font-size: 20px;
    color:black;
    font-weight: bold;
    text-align: center;
    padding-bottom: 25px;
}

.loginForm__form, .serviciesForm__form {
    font-size: 18px;
    background-color: white;  
    border: 0px;
    border-bottom: solid 1px grey;
    margin-bottom: 24px;
}

.serviciesForm__form:focus {
    outline: none;
    border: solid 4px rgb(13, 110, 253, 0.25);
    border-radius: 5px;
}

.loginForm__income, .serviciesForm__botton {
    font-size: 18px;
    border: 0px;   
    font-weight: bold;
    color: white;
    padding: 10px 5px;
    text-align: center;
    background-color: black;
    border-radius: 10px;
    transition: transform 1s;
}

.loginForm__income {
    padding: 10px 65px;
    margin-top: 10px;
}

.loginForm__income:hover, .serviciesForm__botton:hover {
    transform: scale(1.1);
}

.serviciesForm__botton {
    padding: 10px 40px 10px 40px; 
}

.loginForm__account {
    font-size:18px;
    background-color: white;  
    border: 0px;
    font-weight: bold;
    padding: 10px 40px 10px 40px;
    text-align: center;
    margin-top:10px;
    margin-bottom:10px;
}

.loginForm__anchor {
    font-size: 15px;
    color: black;
    text-decoration: none;
}

footer {
    background-image: url(./imagenes/fondo-ladrillo.webp);
    padding: 20px;
    border-top: solid 1px grey;
}

.footerTitle {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 25px;
}

.footerDiv {
    text-align: center;
    padding-bottom: 15px;
    font-size: 18px;
}

.footerDiv p{
    margin-top: 2px;
}

.footerDivTitle {
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 5px;
    background-image: linear-gradient(to bottom, transparent 0 40%, rgb(221, 213, 96) 40% 100%);
    width: fit-content;
    margin:auto;
}

.footerAnchor {
    color: black;
    text-decoration: none;
}

@media only screen and (min-width: 500px) {
    .categoriesList {
        grid-column-gap: 50px;
        grid-row-gap: 30px;
    }
}

@media only screen and (min-width: 768px) {
    .intro p {
        width: 650px;
    }

    .categoriesList {
        grid-template-columns: repeat(3,150px);
    }

    .datos {
        grid-template-columns: repeat(3,200px);
        grid-template-rows: 200px;
    }

    .pasos {
        grid-template-columns: repeat(2,300px);
        grid-template-rows: repeat(2,auto);
        grid-column-gap: 50px; 
        grid-row-gap: 10px; 
    }
}

@media only screen and (min-width: 880px) {
    .rating {
        grid-template-columns: repeat(3,300px);
        grid-template-rows: auto;
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

@media only screen and (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
    justify-content: flex-end;
    }

    .navbar-brand {
        position: initial;
    }

    .nav-item {
        transition: transform 0.7s;
    }
    
    .nav-item:hover {
        background-color: initial;
        transform: scale(1.1);
    }
}

@media only screen and (min-width: 1024px) {
    .categoriesList {
        grid-column-gap: 150px;
    }

    .datos {
        grid-column-gap: 120px;
    }

    .pasos {
        grid-template-columns: repeat(2,425px);
        grid-column-gap: 75px; 
    }

    .rating {
        grid-column-gap: 50px;
    }
}

@keyframes titleanimation {
    0% {opacity: 0}
    100% {opacity: 1}
}
        
    