.btn {
    font-family: inherit;
    font-size: $fuente-pequena;
    padding: 1px 53px; 
    font-weight: bold;
} 

.dropdown-item {
    font-family: inherit;
    font-size: $fuente-pequena;
    font-weight: bold;
    padding: 1px 40px;
}