.categories {
    background-color: #85FFBD;
    background-image: $background-degradado;
    padding-left: initial;

    & h2 {
    font-size: $fuente-grande;
    font-weight: 100;
    font-family: $tipografia-titulo;
    letter-spacing: 1px;
    margin-bottom: initial;
    }

    &List {
        @include grid (repeat(2,150px), auto, 10px, 10px);
        justify-items: center;
    }

    & p {
        font-size: $fuente-pequena;
        font-weight: bold;
    }
}

