.datos {
    @include grid (200px, repeat(3,200px), 50px, 30px);
    background-image: url(../imagenes/fondoindex.jpg);
    @extend %background-propiedades;

    &P {
        font-size: $fuente-pequena;
        font-weight: bold;
    }
}
