/* .formulario {
    color: $color-principal;
}

.header {
    background-color: blue;

    .desktop {
        display: flex;
        justify-content: center;
    }

        .menuDesktop {
        color: blue;
        }
} */