.pasos {
    @include grid (300px, repeat(4,auto), auto, auto);
    background-color: #85FFBD;
    background-image: linear-gradient(45deg, #85FFBD 0%, #e57dff 100%);

    & li {
        height: fit-content;
    }

    &H {
        font-size: $fuente-grande;
        font-family: $tipografia-logo;
        font-weight: bold;
    }

    &P {
        font-size: $fuente-mediana;
    }
}

