.serviciesForm__form {
    font-size: $fuente-pequena;
}

.serviciesForm__form:focus {
    outline: none;
}

.rating {
    background-image: url(../imagenes/servicios.jpg);
    @extend %background-propiedades;
    
    &Class {
        @include grid (300px, repeat(3,1fr), auto, auto);
        padding-top: 70px;
    }

    &Box {
        background-color:rgba(255,255,255,0.5);
        border: 2px solid rgba(0, 0, 0, 0.578);
        border-radius: 50px 20px;
    }

    &Sub1 {
        display: flex;
        align-items: center;
    }

    &Name {
        color: map-get($color-letra, logo);
        font-size: $fuente-mediana;
        display: inline-block;
        font-weight: bold;
        line-height: initial;
        margin-bottom: initial;
    }

    &Stars {
        font-size: $fuente-pequena;
        color: rgb(197, 9, 194);
        font-weight: bold;
    }

    &Desc {
        font-size: $fuente-pequena;
        color:rgb(38, 39, 41);

        & span {
            font-weight: bold;
        }
    }
}

.pagination {
    font-weight: bold;
}
