$color-principal: black;
$color-titulo: rgb(126, 9, 133);
$color-logo: rgb(10, 76, 163); 

$tipografia-principal: 'Roboto Condensed', sans-serif;
$tipografia-titulo: 'Patrick hand', cursive;
$tipografia-logo: 'Indie Flower', cursive;
$tipografia-nav: 'Bebas Neue';

$background-ladrillo: url(../../imagenes/fondo-ladrillo.webp);
$background-degradado: linear-gradient(45deg, #85FFBD 0%, #e57dff 100%);

$fuente-xgrande: 45px;
$fuente-grande: 35px;
$fuente-mediana: 25px;
$fuente-pequena: 20px;
$fuente-xpequena: 18px;
