@media only screen and (min-width: 910px) {
    .ratingClass {
        grid-template-columns: repeat(3,300px);
        grid-template-rows: auto;
    }
}

@media only screen and (min-width: 1024px) {
    .ratingClass {
        grid-column-gap: 50px;
    }
}
